<section class="cover">
    <div class="cover-text-container">
        <div class="cover-wrap">
            <div class="cover-hov">
                <div class="cover-hov-icon">
                    <img src="/assets/images/HOV_Diamond.svg" />
                </div>
                <div class="cover-hov-text">
                    <em>
                        WEB<br/>SITE
                    </em>
                </div>
            </div>
            <div class="cover-text">
                <strong>
                    <em>
                        IMAGES OF<br/>ANIMALS<br/>ONLY
                    </em>
                </strong>
            </div>
            <a href="/gallery/" id="open-button" class="button-dark">OK MOTORCYCLES</a>
        </div>
    </div>
</section>