<section id="sidebar" class="sidebar"> 
    <svg id="sidebar-fader"></svg>
    <div class="sidebar-header">
        <div class="sidebar-image-container">
            <img class="sidebar-image" src="{{ site.image }}" />
        </div>
        <div class="sidebar-text">
            <h1>
                <a href="{{ "/projects/" }}" class="fade-onclick">{{ site.title }}</a>
            </h1>
            <h6>{{ site.description }}</h6>
        </div>
    </div>
    <div class="sidebar-links">
        <a href="{{ "/about" }}" class="fade-onclick">About</a>
        <a href="{{ "/contact" }}" class="fade-onclick">Contact</a>
    </div>
</section>