<section id="sidebar" class="sidebar">
    <svg id="sidebar-fader"></svg>
    <div class="sidebar-header">
        <a href="{{ "/gallery/" }}" class="fade-onclick">
            <div class="sidebar-text">
                <h1>
                    {{ site.title }}
                </h1>
            </div>
        </a>
    </div>
    <!--    <div class="sidebar-links">-->
    <!--        <a href="{{ "/about" }}" class="fade-onclick">About</a>-->
    <!--        <a href="{{ "/contact" }}" class="fade-onclick">Contact</a>-->
    <!--    </div>-->
</section>