// Colors

$primary-highlight: #000;
$secondary-highlight: #222;
$tertiary-highlight: #555;

$sidebar-colour: #FFF;
$hover-colour: #000;
$description-colour: #222;
$text-colour: #000;
$text-colour-light: #000;
$text-colour-dark: #000;
$table-background-colour: #EEE;

// Sizes

$sidebar-width: 330px;
$sidebar-height-min: 150px;
$sidebar-height: 200px;