@import "constants";
@import "fonts";

.cover-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cover-hov {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    border: 2px solid $text-colour-dark;
    background-color: $text-colour-dark;
    font-size: 1.5rem;
}

.cover-hov-icon {
    display: flex;
    justify-content: end;
    margin-right: 0.25em
}

.cover-hov-icon img {
    height: 2.5em;
}

.cover-hov-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $sidebar-colour;
    font-weight: bold;
    margin-left: 0.25em;
}

.cover-wrap {
    display: flex;
    flex-direction: column;
}

.cover-text {
    display: block;
    padding: 10px 15px;
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    text-align: center;
    border: 2px solid $text-colour-dark;
    background-color: $sidebar-colour;
    color: $text-colour-dark;
    font-weight: bold;
    font-size: 2rem;
}

.open-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cover {
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    position: fixed;
    z-index: 9999;
    background: $sidebar-colour;
    color: $text-colour-light;
    transition: all .25s ease;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}