@font-face {
  font-family: 'Highway Gothic';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/highway-gothic/HWYGWDE.TTF') format('truetype');
}
  
@font-face {
  font-family: 'Highway Gothic';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/highway-gothic/HWYGWDE.TTF') format('truetype');
}

@font-face {
  font-family: 'Highway Gothic';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/highway-gothic/HWYGNRRW.TTF') format('truetype');
}
  
@font-face {
  font-family: 'Highway Gothic';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/highway-gothic/HWYGNRRW.TTF') format('truetype');
}
