.list-posts {
    margin-bottom: 2em;
}

.list-post-link {
    margin: 2em 1em 0 1em;
    display: block;
    width: auto;
    height: auto;
}

.list-post-link:hover {
    opacity: 0.8;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}

.list-post-image {
    width: 100%;
}
